* {
    margin: 0;
    font-family: 'Anton', sans-serif;
}

/* Main body + App body */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    position: relative;
    display: flex;
    justify-content: center;
}

/* CHARACTERS */
.playerChar {
    display: none;
    position: absolute;
    z-index: 10;
    width: 75px;
    height: 54px;
}

/* SCORE */
.score {
    display: none;
    position: absolute;
    color: white;
    font: bold 30px Impact;
    z-index: 2000;
}

/* BUTTONS */
.allButtons {
    position: absolute;
}

.startGame {
    color: yellow;
    font-weight: bold;
    font-size: 1.3em;
    background-color: transparent;
    padding: 1.2em 3em;
}

.restartGame {
    display: none;
    color: yellow;
    font-weight: bold;
    font-size: 1.3em;
    background-color: transparent;
    padding: 1.2em 2.3em;
}

/* ENDING SCREEN */
.gameOver {
    color: red;
    position: absolute;
    font-weight: bold;
    font-size: 3rem;
    top: 30%;
}
