@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root {
    --player-width: 100px;
    --player-height: 100px;
    --bottle-width: 100px;
    --bottle-height: 120px;
}

* {
    margin: 0;
    font-family: 'Anton', sans-serif;
}

/* Main body + App body */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/city6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* GAME NAME */
.gameName {
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Indie Flower', cursive;
    position: absolute;
    color: black;
    top: 21%;
    left: 24%;
    transform: rotate(-11.5deg);
    font-size: 2.5em;
    font-weight: bold;
}

.postIt {
    position: absolute;
    top: 9.2%;
    left: 20.5%;
}

/* BUTTONS */
.allButtons {
    position: absolute;
}

.startGame {
    color: rgb(255, 255, 0);
    font-weight: bold;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 1.2em 3em;
    z-index: 3000;
}

.ps {
    font-size: 0.6em;
}

.restartGame {
    display: none;
    color: yellow;
    font-weight: bold;
    font-size: 1.3em;
    background-color: transparent;
    padding: 1.2em 2.3em;
    z-index: 3000;
}

/* CHARACTERS */
.playerChar {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100px;
    /* height: 54px; */
    height: 100px;
}

.catChar {
    display: none;
    position: absolute;
    z-index: 10;
    margin-top: 40px;
    width: 50px;
    height: 35px;
}

.turnRight {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
    position: absolute;
    z-index: 10;
    width: var(--player-width);
    height: var(--player-height);
}

.turnLeft {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    display: none;
    position: absolute;
    z-index: 10;
    width: var(--player-width);
    height: var(--player-height);
}

/* FALLING OBJECTS */

.bottle {
    height: var(--bottle-height);
    width: var(--bottle-width);
}

/* SCORES */
.score {
    display: none;
    position: absolute;
    color: white;
    font: bold 30px Impact;
    z-index: 2200;
}


/* ENDING SCREEN */
.gameOver {
    color: red;
    position: absolute;
    font-weight: bold;
    font-size: 3rem;
    top: 35%;
    z-index: 3000;
}

/* DRUNKNESS */
/* .cloud {
    z-index: 2000;
    position: absolute;
    height: 16.5vh;
    top: 92;
    height: 20.1vh;
    display: none;
} */

.drunkText {
    position: absolute;
    font-size: 3em;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0 20px;
}

.reverseMoveText {
    color: white;
    top: 13%;
    left: 0.4%;
    transform: rotate(-30deg);
    animation: glowMove 1s ease-in-out infinite alternate;
}

@keyframes glowMove {
    from {
        text-shadow: 0 0 5px #c00606, 0 0 10px #c00606, 0 0 15px #c00606, 0 0 20px #c00606, 0 0 25px #c00606, 0 0 30px #c00606, 0 0 35px #c00606;
    }
    to {
        text-shadow: 0 0 10px #c00606, 0 0 20px #c00606, 0 0 30px #c00606, 0 0 40px #c00606, 0 0 50px #c00606, 0 0 60px #c00606, 0 0 70px #c00606;
    }
}

.cloudText {
    /* position: absolute; */
    top: 3%;
    left: 30%;
    transform: rotate(-7deg);
    color: #fff;
    animation: glowCloud 1s ease-in-out infinite alternate;
}

@keyframes glowCloud {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
}




.cloud {
    z-index: 2000;
    position: absolute;
    height: 16.5vh;
    top: -5%;
    height: 20.1vh;
    display: none;
}





